<html>

<head>
    <!-- <script type="text/javascript">
        var res = $('div#froala-editor').froalaEditor('html.get');
    </script> -->
</head>

<body>
    <!-- <div id='froala-editor' [froalaEditor]>Hello, Froala!</div> -->
    <!-- <simplemde [(ngModel)]="value" [options]="$options2"></simplemde> -->
    <!-- <div class="container">
        <div class="row"> -->

    <textarea id="edit" [froalaEditor] class="col-sm-6"></textarea>
    <!--  </div>
    </div> -->
    <!-- <markdown>
        ## Markdown h2 content
    </markdown> -->
</body>

</html>